RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_server_only_secret
RAZORPAY_PLAN_LAUNCH=plan_your_launch_plan_id
RAZORPAY_PLAN_GROWTH=plan_your_growth_plan_id
RAZORPAY_PLAN_PREMIUM=plan_your_premium_plan_id
RAZORPAY_PLAN_CUSTOM=plan_your_custom_plan_id
